body {
  background-color: #1b2029; /*Definindo cor de fundo do site todo*/
  color: white; /*Definindo cor do texto em todo body*/
  font-weight: 500; /*Dando um "peso" na fonte(deixando ela mais forte)*/
  display: flex; /*Deixando o display flex para acomodar todo o conteudo*/
  min-height: 100vh; /*Colocando uma altura em todo corpo da aplicação*/
}

main {
  width: 50vw; /*Colocando o tamanho da main com 50vw de diametro*/
  display: flex; /*Deixando o display flex para acomodar todo o conteudo*/
  flex-direction: column; /* Deixando a direção do conteudo em coluna*/
  align-items: center; /*Centralizando items no eixo X*/
  justify-content: center; /*Centralizando items no eixo Y*/
}

main h1 {
  color: #8880fe;
  font-size: 3rem;
  margin-bottom: 3rem;
}

main .social-media {
  display: flex; /*Editando a DIV das imagens*/
  align-content: center;
}

main .social-media a {
  text-decoration: none;
}

main .social-media img {
  width: 36px;
  margin-left: 3rem;
}

main .social-media a:first-child img {
  margin-left: 0; /*Definindo que o primeiro filho não vai ter margem, no caso o filho "Google"*/
}

/* Modificando a barra OR */

main .alternative {
  margin-top: 1rem;
}

main .alternative span {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}

main .alternative span::before,
main .alternative span::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100px;
  bottom: 50%;
  right: 50px;
  background: rgba(255, 255, 255, 0.3);
}

main .alternative span::after {
  left: 50px;
}

/*Formulário*/

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form label {
  display: flex;
  flex-direction: column;
}

main form label span {
  font-size: 1.1rem;
  margin-top: 2rem;
}

main form input {
  background: #161923;
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  outline: none;
  color: rgba(166, 166, 166);
  font-size: 1rem;
  border: 1px solid #040b18;
  border-radius: 8px;
}

/*Criação do botão*/

main form input[type="submit"] {
  cursor: pointer;
  width: 50%;
  margin-top: 4rem;
  border: none;
  border-radius: 32px;
  background: #6c63ff;
  color: white;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

main form input[type="submit"]:hover {
  background: #5952d4;
}
